Flask
python-dotenv
azure-search-documents
openai
azure-identity==1.18.0
flask-socketio
flask_cors
redis
langchain
langchain-community
langchain-openai
langchain-core
faiss-cpu
psycopg2-binary
pandas
azure-storage-blob
openpyxl
pypdf